body {
  background: #20262E;
  padding: 10px;
  font-family: Helvetica;
}

.gridWrapper {
  display: flex;
}

.gridVerticalValuesWrapper {
  display: flex;
  margin-left: 3px;
}

.gridVerticalValues {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.gridVerticalValue {
  width: 16px;
  height: 16px;
  border: solid #000 1px;
  background: #999;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
}


.gridHorizontalValuesWrapper {}

.gridHorizontalValues {
  display: flex;
  justify-content: end;
}

.gridHorizontalValue {
  width: 16px;
  height: 16px;
  border: solid #000 1px;
  background: #999;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
}

.grid {
  display: inline-block;
  background: #ffc;
  margin: 3px;
  width: 180px;
  cursor: hand;
}

.gridItem {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: solid 1px #333;
  cursor: hand;
  line-height: 16px;
  font-size: 16px;
  color: white;
}

.crosswordsWrapper {
  display: flex;
  flex-direction: column;
  align-items: end;
}