body {
  background: #20262E;
  padding: 20px;
  font-family: Helvetica;
}

h2 {
  font-weight: bold;
  margin-bottom: 15px;
}

.gridWrapper {
  display: flex;
}

.gridVerticalValuesWrapper {
  display: flex;
  margin-left: 5px;
}

.gridVerticalValues {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.gridVerticalValue {
  width: 20px;
  height: 20px;
  border: solid #000 1px;
  background: #999;
  text-align: center;
  font-weight: bold;
}


.gridHorizontalValuesWrapper {}

.gridHorizontalValues {
  display: flex;
  justify-content: end;
}

.gridHorizontalValue {
  width: 22px;
  height: 20px;
  border: solid #000 1px;
  background: #999;
  text-align: center;
  font-weight: bold;
}

.grid {
  display: inline-block;
  background: #ffc;
  margin: 5px;
  width: 220px;
  cursor: hand;
}

.gridItem {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: solid 1px #333;
  cursor: hand;
  font-size: 12px;
  line-height: 20px;
}
